.lecture_box {
  font-family: genJyuuGothic-Monospace-ExtraLight;
  padding-top: 120px;
  float: none;
  margin: 0 auto;
}

.lecture_title {
/*  margin-top: 150px;*/
  margin-bottom: 20px;
  font-family: genJyuuGothic-Monospace-ExtraLight;
  border-left: solid 5px #C3D825;
}

.lecture_title h3{
  padding-left: 10px ;
  font-size: 36px;
}

ul .college_teacher{
  list-style: none;
}

ul.college_teacher li{
  margin-right: 10px;
  float: left;
  font-size: 16px;
  margin-bottom: 10px;
}

.lecture_content{
  margin-right: 10px;
  font-size: 16px;
  margin-bottom: 20px;
}

.kuchikomi {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
}


.lecture_comments_box{
  font-size: 16px;
  margin-bottom: 20px;
}

.lecture_comment_avatar_box{
  width: 100px;
  float: left;
  padding: 0;
}

.lecture_comment_avatar{
  height: 100px;
  width: 100px;
  object-fit: cover;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

.lecture_comment_avatar img{
  height: 100px;
  width: 100px;
  object-fit: cover;
  -webkit-border-radius: 10px;
          border-radius: 10px;
}

.lecture_comment_name{
  margin-top: 5px;
  text-align: center;
  font-size: 16px;
}

.lecture_comment_difficulty{
  padding: 5px 0 5px 10px;
  font-size: 16px;
  font-style: italic;
  border-bottom: 1px solid #c3d845;
}

.lecture_comment_box{
  font-family: genJyuuGothic-Monospace-ExtraLight;
  width: 70%;
  margin-left: 20px;
  padding-left: 0;
  float: left;
  border: 2px solid #c3d845;
  -webkit-border-radius: 10px;
          border-radius: 10px;
}

.lecture_comment{
  padding: 5px 0 10px 10px;
  margin-bottom: 20px;
}


.lecture_comments {
  font-family: genJyuuGothic-Monospace-ExtraLight;
  border: 2px solid #c3d825;
  margin-bottom: 20px;
  padding: 10px;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  /*background-color: #c3d825;*/
}


.post_comment{
  margin-top: 20px;
  padding: 15px 0;
  text-align: center;
  background: #c3d825;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  box-shadow: 0 2px 0 #69821b;
}

.post_comment a{
  font-family: genJyuuGothic-Monospace-ExtraLight;
  font-size: 24px;
  color: #000;
}

.post_comment a:hover{
  color: #fff;
}
