@mixin label_colored($color) {
  padding: 0 5px;
  font-size: 10px;
  line-height: 20px;
  background-color: $color;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  color: #fff;
  font-weight: lighter;
}

@mixin label($color) {
  padding: 0 5px;
  font-size: 10px;
  line-height: 20px;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  color: $color;
  font-weight: lighter;
  border: 1px solid $color;
}

@mixin pagination(){
  font-family: genJyuuGothic-Monospace-ExtraLight;
  font-weight: bold;
  font-size: 1.25rem;
  padding-left: 5px;
  background-color: #f5f5f5;
  padding: 5px;
  -webkit-border-radius: 2.5px;
          border-radius: 2.5px;
  -webkit-transition: 0.3s;
     -moz-transition: 0.3s;
      -ms-transition: 0.3s;
       -o-transition: 0.3s;
          transition: 0.3s;
}

@mixin hoverChange(){
  &:hover{
    color: $main_color !important;
  }
}
