.comments_box.clearfix
  .comment_avatar_box
    .comment_avatar
      = image_tag product_comment.user.avatar.thumb
    %p.name
      = product_comment.user.name
  .comment_message
    .comment.lecture_comments
      %p.text
        = product_comment.content
