.comments_box.clearfix
  .comment_avatar_box
    .comment_avatar
      = image_tag product_comment.user.avatar.thumb
    %p.name
      = product_comment.user.name
  .comment_message
    .comment.lecture_comments
      %p.text
        = product_comment.content
      - if product_comment.user.id == current_user.id
        .delete_btn
          = link_to "このコメントを削除する。", product_comment_path(product_comment.id), method: :delete
