$(".panel").fadeIn("slow");
$(".edit_modal").fadeIn("slow");
$("#header").fadeOut("slow");

$(".panel").click(
function(){
$(this).fadeOut("slow");
$(".edit_modal").fadeOut("slow");
$("#header").fadeIn("slow");
})

$(".modal-content").on('click', function(e) {
e.stopPropagation();
});
