.user_box{
  font-family: genJyuuGothic-Monospace-ExtraLight;
}

.user_avatar_box{
  padding: 0;
  margin-bottom: 20px;
}

.user_avatar{
  text-align: center;
  img {
    height: 250px;
    width: 250px;
    object-fit: cover;
  }
}

.user_edit{
  margin: 0 auto;
  box-shadow: 0 2px 0 $main_color_dark;
  line-height: 40px;
  height: 40px;
  width: 250px;
}

.user_btn{
  text-align: center;
  background: $main_color;
}

.user_btn a:hover{
  color: #FFF;
}

.user_info_box {
  font-size: 16px;
  padding: 10px 20px;
}

.user_name{
  padding-left: 15px;
  border-left: 1px solid $main_color;
  font-size: 24px;
  margin-bottom: 20px;
}

.user_college{
  margin-bottom: 10px;
}

.user_product_count{
  margin-bottom: 10px;
}

.user_product_count h3{
  font-size: 16px;
}

.user_profile{
  margin-bottom: 10px;
}

.user_product{
  padding: 20px;
  font-size: 36px;
}
