%html.no-js{:lang => ""}
  %body
    %section.banner{:role => "banner"}
      %header#header
        .header-content.clearfix
          = image_tag "assets/logo.png"
          %nav.navigation{:role => "navigation"}
            %ul.primary-nav
              %li
                %a{:href => "about.html"} About me
              %li
                %a{:href => "contact.html"} Contact
              %li
                %a{:href => "#"} External Link
          %a.nav-toggle{:href => "#"}
            Menu
            %span
    %section#banner.banner.no-padding
      .container-fluid
        .row.no-gutter
          .flexslider
            %ul.slides
              %li
                .col-md-12
                  %blockquote
                    %h1 Hello! I'm Jonathan
                    %p UX/UI Designer, Front-end Developer
              %li
                .col-md-12
                  %blockquote
                    %h1 Hello! I'm Jonathan
                    %p Designer from Newcastle, UK.
    / Text banner section
    / portfolio section
    %section#works.works.section.no-padding
      .container-fluid
        .row.no-gutter
          .col-lg-3.col-md-6.col-sm-6.work
            %a.work-box{:href => "work-1.jpg"}
              %img{:alt => "", :src => "work-1.jpg"}/
              .overlay
                .overlay-caption
                  %h5 Project Name
                  %p
                    %i.fa.fa-search-plus.fa-2x
              / overlay
          .col-lg-3.col-md-6.col-sm-6.work
            %a.work-box{:href => "work-2.jpg"}
              %img{:alt => "", :src => "work-2.jpg"}/
              .overlay
                .overlay-caption
                  %h5 Project Name
                  %p
                    %i.fa.fa-search-plus.fa-2x
              / overlay
          .col-lg-3.col-md-6.col-sm-6.work
            %a.work-box{:href => "work-3.jpg"}
              %img{:alt => "", :src => "work-3.jpg"}/
              .overlay
                .overlay-caption
                  %h5 Project Name
                  %p
                    %i.fa.fa-search-plus.fa-2x
              / overlay
          .col-lg-3.col-md-6.col-sm-6.work
            %a.work-box{:href => "work-4.jpg"}
              %img{:alt => "", :src => "work-4.jpg"}/
              .overlay
                .overlay-caption
                  %h5 Project Name
                  %p
                    %i.fa.fa-search-plus.fa-2x
              / overlay
          .col-lg-3.col-md-6.col-sm-6.work
            %a.work-box{:href => "work-5.jpg"}
              %img{:alt => "", :src => "work-5.jpg"}/
              .overlay
                .overlay-caption
                  %h5 Project Name
                  %p
                    %i.fa.fa-search-plus.fa-2x
              / overlay
          .col-lg-3.col-md-6.col-sm-6.work
            %a.work-box{:href => "work-6.jpg"}
              %img{:alt => "", :src => "work-6.jpg"}/
              .overlay
                .overlay-caption
                  %h5 Project Name
                  %p
                    %i.fa.fa-search-plus.fa-2x
              / overlay
          .col-lg-3.col-md-6.col-sm-6.work
            %a.work-box{:href => "work-7.jpg"}
              %img{:alt => "", :src => "work-7.jpg"}/
              .overlay
                .overlay-caption
                  %h5 Project Name
                  %p
                    %i.fa.fa-search-plus.fa-2x
              / overlay
          .col-lg-3.col-md-6.col-sm-6.work
            %a.work-box{:href => "work-8.jpg"}
              %img{:alt => "", :src => "work-8.jpg"}/
              .overlay
                .overlay-caption
                  %h5 Project Name
                  %p
                    %i.fa.fa-search-plus.fa-2x
              / overlay
    / portfolio section
    / footer
    %footer.section.footer
      .footer-bottom
        .container
          .col-md-12
            %p
            %ul.footer-share
              %li
                %a{:href => "#"}
                  %i.fa.fa-facebook
              %li
                %a{:href => "#"}
                  %i.fa.fa-twitter
              %li
                %a{:href => "#"}
                  %i.fa.fa-linkedin
              %li
                %a{:href => "#"}
                  %i.fa.fa-google-plus
              %li
                %a{:href => "#"}
                  %i.fa.fa-pinterest-p
              %li
                %a{:href => "#"}
                  %i.fa.fa-vimeo
            %p
              © 2015 All rights reserved. All Rights Reserved
              %br/
              Made with
              %i.fa.fa-heart.pulse
              by
              %a{:href => "http://kamalchaneman.com/"} Designstub
    / footer
    / JS FILES
    %script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"}
    %script{:src => "js/bootstrap.min.js"}
    %script{:src => "js/jquery.flexslider-min.js"}
    %script{:src => "js/jquery.fancybox.pack.js"}
    %script{:src => "js/jquery.waypoints.min.js"}
    %script{:src => "js/retina.min.js"}
    %script{:src => "js/modernizr.js"}
    %script{:src => "js/main.js"}
