%section.banner{role: "banner"}
  %header#header
    .header-content.clearfix
      = link_to "タイトル", root_path, class: "title"
      %nav.navigation{role: "navigation"}
        %ul.primary-nav
          %li
            = link_to "投稿する", new_product_path, remote: true, method: :get
          %li
            ログアウト
      %a.nav-toggle{:href => "#"}
        Menu
        %span
